/*====================================-ROOT-STYLE-START-======================================*/
:root {

    --color-green: rgb(80, 169, 2);
    --color-white: rgb(255, 255, 255);

    --bg-color-btn:  -webkit-linear-gradient( 90deg, rgb(77,164,2) 0%, rgb(82,174,2) 100%);
    --bg-hover-color-btn:  -webkit-linear-gradient( 90deg, rgb(33,137,19) 0%, rgb(59,153,40) 100%);
    /*--bg-active-color-btn: ;*/

    --br-radius: 3px;
    --transition-all: .3s;
}
/*====================================-ROOT-STYLE-END-======================================*/


/*====================================-STATIC-STYLE-START-======================================*/
.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
.container_fluid{
    padding: 0 40px;
    margin: 0 auto;
}
.btn-bg *,.btn-br *{
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: var(--br-radius);
    transition: var(--transition-all);
    letter-spacing: 1.5px;
}
.btn-bg a, .btn-br a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-bg *{
    background-image: var(--bg-color-btn);
    color: var(--color-white);
}
.btn-bg *:hover{
    background-image: var(--bg-hover-color-btn);
}
.btn-br *{
    background-color: transparent;
    border: 1px solid var(--color-green);
}
.btn-br *:hover{
    background-image: var(--bg-color-btn);
    color: var(--color-white);
}
.btn-bg *:active{
    background-color: var(--bg-active-color-btn);
}
.btn-br *:active{
    background-color: var(--bg-active-color-btn);
    border: 1px solid transparent;
}
.img-static{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*=====================================-STATIC-STYLE-END-=======================================*/



